@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto:100,300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,400,600,700&display=swap');

/*Stars with ParticleJS*/

/* ---- reset ---- */

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgb(23, 24, 47, 0.7);
}

/*My code*/
#background-img{
    z-index: -100;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/background/bg.jpg);
    background-position-y: 40%;
    background-size: cover;
}
#personal{
    z-index: 100;
    position: absolute;
    /*padding: 0 10%;*/
}

#personal h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 130px;
}

#personal h3{
    margin-top: 1rem;
    margin-bottom: 0;
}

#personal h4{
    margin-bottom: 1rem;
    font-size: 20px;
}

#personal p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

#personal #icon-list{
    font-size: 30px;
    list-style: none;
    margin-top: 1rem;
}

#personal #icon-list li{
    display: inline;
    margin: 0 5px;
}

#personal #icon-list li a{
    color: rgba(255, 255, 255, 0.4);
}

#personal #icon-list li a:hover{
    color: white;
}

#icon-list-cont{
    display: table;
    margin: 0 auto;
}

@media(max-width:1500px){
    #personal h1{
        font-family: 'Open Sans', sans-serif;
        font-size: 95px;
    }

    #personal h3{
        margin-top: 1rem;
        margin-bottom: 0;
    }

    #personal h4{
        margin-bottom: 1rem;
        font-size: 20px;
    }

    #personal p{
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 300;
    }

    h5{
        font-size: 18px;
    }
    h6{
        font-size: 15px;
    }
}

@media(max-width:768px){
    #profile-pic{
        width: 50% !important;
    }
}